*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.center{

    width: 1280px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #212343;
    padding-bottom: 20px;
    padding-top: 5px;

}

.header img{

    
}

.logo{
    margin:30px 20px;
}

.center < menu{
    margin-left: 200px;
    padding-top: 30px;
    margin-bottom: 200px;
}

.container-banner{
    width: 100%;
    height: 557px;
    background-image: url(../images/header_bg.png);
    background-position: center ;
    background-size: cover;
}

.container-banner{
    height: 75%;
    text-align: left;
}

.form{
    width: 400px;
    height: 557px;
    position: relative;
    top: -15px;
    background-color: white;
    float: right;
    display: inline-block;
    border: 8px solid #ccc;
    padding: 25px;
    border-color: rgba(120,120,120,0.5);
    background-clip: padding-box;

}

.form h2{
    font-size: 21px;
    font-weight: normal;
    color: #999999;
    text-align: center;
}

.input-container{
    margin-top:20px ;
    text-align: left;

}

.input-container span{
    display: inline-block;
    width: 100%;
    color: #bbb;
    font-size: 17px;
    
}
.input-container input[type=text]{
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
    margin-top: 8px;
    padding-left: 3px;
    font-size: 18px;

}
.form p{
    display: inline-block;
    width: 100%;
    color: #bbb;
    font-size: 17px;
    text-align: left;
    margin-top: 15px;
}

.form input[type=submit]{
    display: inline-block;
    width: 280px;
    height: 56px;
    background-color: #363a6d;
    color: white;
    font-size: 25px;
    margin-top: 30px;
    border-radius: 5px;
    border-bottom: 5px solid #4a5097;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.Enviar{
    text-align: center;
}

.form input[type=submit]:hover{
    background-color: #323665;
}

.List{
    padding: 30px;
    margin-top: 100px;
    margin-left: 100px;
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgba(33,35,67,0.7);
    
}

.List ul{
    list-style-position: inside;
}
.List ul li{
    margin-top: 25px;
    color: white;
}

.container-2{
    padding: 40px 0px;
    background-color: #DDDDDD;
    text-align: center;
}
.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    width: 698px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow{
    width: 40px;
    height: 40px;
    background-image: url('../images/arrow.png');
    text-align: center;
    background-size: 100% 100%;
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
}

.section-1{
    padding: 90px 0;
}

.section-1 h2{
    text-align: center;
    font-weight: normal;
    color: #462663;
}

.single{
    display: inline-block;
    width: 33.333%;
    margin:40px 0;
    padding: 30px;
    text-align: center;
    float: left;
}

.single p{
    padding: 10px 25px;
    text-align: justify;
}

.single img{
    width: 70px;
}

.footer{
    clear: both;
    border-top: 4px solid #888888;
    padding: 20px 0;
    text-align: center;
    color: #888;
}

.footer p{
    margin-top: 8px;
}